<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <restapi_logger>
                <api_logging_enabled>0</api_logging_enabled>
                <api_response_logging_enabled>0</api_response_logging_enabled>
                <logging_retention_period>3</logging_retention_period>
                <rest_endpoints_to_log>*</rest_endpoints_to_log>
                <rest_endpoints_to_skip>/rest/ch_de/V1/guest-carts/*/estimate-shipping-methods</rest_endpoints_to_skip>
            </restapi_logger>
        </system>
    </default>
</config>
