<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="restapi_logger" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Rest API Payload Logger</label>
                <field id="api_logging_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Rest API logging enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[If set to "Yes" module will log REST API payloads into database.]]>
                    </comment>
                </field>
                <field id="maximum_payload_length" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Maximum Payload Length</label>
                    <depends>
                        <field id="api_logging_enabled">1</field>
                    </depends>
                </field>
                <field id="payload_placeholders" translate="label comment" type="textarea" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Payload Placeholders</label>
                    <comment>
                        <![CDATA[New line separated list of placeholders. Example: <br />field_name1:placeholder1<br />field_name2:placeholder2]]>
                    </comment>
                    <depends>
                        <field id="api_logging_enabled">1</field>
                    </depends>
                </field>
                <field id="api_response_logging_enabled" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Rest Response logging enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[If set to "Yes" module will log REST endpoint response into database.]]>
                    </comment>
                </field>
                <field id="response_placeholders" translate="label comment" type="textarea" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Response Placeholders</label>
                    <comment>
                        <![CDATA[New line separated list of placeholders. Example: <br />field_name1:placeholder1<br />field_name2:placeholder2]]>
                    </comment>
                    <depends>
                        <field id="api_response_logging_enabled">1</field>
                    </depends>
                </field>
                <field id="http_request_methods_to_log" translate="label comment" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>HTTP request methods to log</label>
                    <source_model>MageSuite\RestApiLogger\Model\Config\Source\HttpRequestMethod</source_model>
                    <can_be_empty>1</can_be_empty>
                    <depends>
                        <field id="api_logging_enabled">1</field>
                    </depends>
                </field>
                <field id="rest_endpoints_to_log" translate="label comment" type="textarea" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Rest endpoint to log</label>
                    <comment>
                        <![CDATA[New line separated list of endpoints which payloads will be logged to database.<br/>Wildcard allowed, example: /rest/V1/order/*/invoice<br/>]]>
                    </comment>
                </field>
                <field id="rest_endpoints_to_skip" translate="label comment" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Rest endpoint to skip</label>
                    <comment>
                        <![CDATA[New line separated list of endpoints which payloads will be skipped from logging.<br/>Wildcard allowed, example: /rest/V1/order/*/invoice<br/>]]>
                    </comment>
                </field>
                <field id="logging_retention_period" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logging retention period</label>
                    <comment>
                        <![CDATA[How long (in days) logs should be kept]]>
                    </comment>
                    <validate>validate-number validate-length maximum-length-4 validate-positive-number</validate>
                    <depends>
                        <field id="api_logging_enabled">1</field>
                    </depends>
                </field>
                <field id="log_table_optimization_enabled" translate="label comment" type="select" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Log table optimization enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[If set to 'Yes' then log table will be optimized after cleanup.]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
